## *Exercise 2.1*
_Download price data for Google with the pandas data reader and specify a start and end date for the data._

_Hint: you will find the instructions on this website:_
https://stackoverflow.com/questions/22991567/pandas-yahoo-finance-datareader

In [7]:
# Solution

import yfinance as yf
import pandas as pd

df = yf.download("GOOGL", start="2020-01-01", end="2020-12-30")
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,1335.790039,1340.660034,1332.130005,1339.390015,1339.390015,975700
2020-01-02,1348.410034,1368.680054,1346.489990,1368.680054,1368.680054,1363900
2020-01-03,1348.000000,1373.750000,1347.319946,1361.520020,1361.520020,1170400
2020-01-06,1351.630005,1398.319946,1351.000000,1397.810059,1397.810059,2338400
2020-01-07,1400.459961,1403.500000,1391.560059,1395.109985,1395.109985,1716500

## *Exercise 2.2*
*How long is the output and what data type is it?*

In [4]:
# Solution

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2019-12-31 to 2020-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       252 non-null    float64
 1   High       252 non-null    float64
 2   Low        252 non-null    float64
 3   Close      252 non-null    float64
 4   Adj Close  252 non-null    float64
 5   Volume     252 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

## *Exercise 2.3*
*What are the column names of your new data?*

In [6]:
# Solution
print(list(df))
df.columns

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

## _Exercise 2.4_
_Save the data in a csv file called 'output.csv'._

In [5]:
# Solution

#df.to_csv()

## _Exercise 2.5_
_Loop through the whole 'output.csv' file and do the daily range calculation. There is a little twist, see if you can figure it out._

In [6]:
# Solution