In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## _Exercise 3.1_
__20-period VWAP__

_Implement the 20-period VWAP calculation with our file reader (using the data file 'output.csv'), and write the values to a new list._ 

Hint: for the calculation always use the last 20 elements from our price and volume lists.

In [8]:
close_prices = []
volumes = []
vwaps = []

In [9]:
# Solution
df = pd.read_csv("output.csv", parse_dates=["Date"], index_col=["Date"])
df.head()
for row in df.iterrows():
    cl = row[1]["Close"]
    vol = row[1]["Volume"]
    close_prices.append(cl)
    volumes.append(vol)
    vwap = np.sum(np.multiply(close_prices[-20:],volumes[-20:]))/np.sum(volumes[-20:])
    vwaps.append(vwap)

In [15]:
print(len(close_prices), len(volumes), len(vwaps))
df.info()

999 999 999
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        999 non-null    object
 1   Open        999 non-null    float64
 2   High        999 non-null    float64
 3   Low         999 non-null    float64
 4   Close       999 non-null    float64
 5   Adj Close   999 non-null    float64
 6   Volume      999 non-null    int64
 7   pct return  998 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 62.6+ KB

In [10]:
vwaps[:10]

[1106.5999755859375,
 1096.2559769446648,
 1093.1598682191434,
 1090.737583243608,
 1086.1145259519537,
 1085.8313052962126,
 1084.7141924638001,
 1084.8410837134918,
 1084.8905373631071,
 1084.8252438162226]

## _Exercise 3.2_
1. Read in the output.csv file and save it as a dataframe.
2. Plot the percentage returns of the close prices in one line.

Hint: Use the Pandas documentation to find the right functions.

In [11]:
# Solution

df = pd.read_csv("output.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-05-14,1105.569946,1118.150024,1104.800049,1106.599976,1106.599976,1966900
1,2018-05-15,1096.900024,1099.119995,1078.780029,1084.869995,1084.869995,1786900
2,2018-05-16,1085.089966,1094.380005,1081.630005,1084.089966,1084.089966,1281400
3,2018-05-17,1081.459961,1091.000000,1076.420044,1081.260010,1081.260010,1286900
4,2018-05-18,1066.000000,1073.729980,1064.680054,1069.640015,1069.640015,1774100

In [12]:
df["pct return"] = df.Close.pct_change()
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,pct return
0,2018-05-14,1105.569946,1118.150024,1104.800049,1106.599976,1106.599976,1966900,NaN
1,2018-05-15,1096.900024,1099.119995,1078.780029,1084.869995,1084.869995,1786900,-0.019637
2,2018-05-16,1085.089966,1094.380005,1081.630005,1084.089966,1084.089966,1281400,-0.000719
3,2018-05-17,1081.459961,1091.000000,1076.420044,1081.260010,1081.260010,1286900,-0.002610
4,2018-05-18,1066.000000,1073.729980,1064.680054,1069.640015,1069.640015,1774100,-0.010747