## *Exercise 2.1*
_Download price data for Google with the pandas data reader and specify a start and end date for the data._

_Hint: you will find the instructions on this website:_
https://stackoverflow.com/questions/22991567/pandas-yahoo-finance-datareader

In [1]:
# Solution
import yfinance as yf

df_googl = yf.download('GOOGL', start="2018-05-15", end="2022-05-01")
df_googl.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-05-14,1105.569946,1118.150024,1104.800049,1106.599976,1106.599976,1966900
2018-05-15,1096.900024,1099.119995,1078.780029,1084.869995,1084.869995,1786900
2018-05-16,1085.089966,1094.380005,1081.630005,1084.089966,1084.089966,1281400
2018-05-17,1081.459961,1091.000000,1076.420044,1081.260010,1081.260010,1286900
2018-05-18,1066.000000,1073.729980,1064.680054,1069.640015,1069.640015,1774100

## *Exercise 2.2*
*How long is the output and what data type is it?*

In [2]:
# Solution
print(len(df_googl))
print(type(df_googl))

999
<class 'pandas.core.frame.DataFrame'>

## *Exercise 2.3*
*What are the column names of your new data?*

In [3]:
# Solution
print(list(df_googl))
df_googl.columns

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

## _Exercise 2.4_
_Save the data in a csv file called 'output.csv'._

In [4]:
# Solution
import pandas as pd

df_googl.to_csv("output.csv") # I commented this because I don't want to save a new file every time

## _Exercise 2.5_
_Loop through the whole 'output.csv' file and do the daily range calculation. There is a little twist, see if you can figure it out._

In [5]:
# Solution

# my_df = pd.read_csv("output_googl.csv") -- I commented this because I don't want to save a new file every time
my_df = df_googl
my_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-05-14,1105.569946,1118.150024,1104.800049,1106.599976,1106.599976,1966900
2018-05-15,1096.900024,1099.119995,1078.780029,1084.869995,1084.869995,1786900
2018-05-16,1085.089966,1094.380005,1081.630005,1084.089966,1084.089966,1281400
2018-05-17,1081.459961,1091.000000,1076.420044,1081.260010,1081.260010,1286900
2018-05-18,1066.000000,1073.729980,1064.680054,1069.640015,1069.640015,1774100

In [6]:
my_df["Daily Range"] = my_df.High - my_df.Low
my_df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily Range
Date,,,,,,,
2018-05-14,1105.569946,1118.150024,1104.800049,1106.599976,1106.599976,1966900,13.349976
2018-05-15,1096.900024,1099.119995,1078.780029,1084.869995,1084.869995,1786900,20.339966
2018-05-16,1085.089966,1094.380005,1081.630005,1084.089966,1084.089966,1281400,12.750000
2018-05-17,1081.459961,1091.000000,1076.420044,1081.260010,1081.260010,1286900,14.579956
2018-05-18,1066.000000,1073.729980,1064.680054,1069.640015,1069.640015,1774100,9.049927